/calculadora_basic.class
/calculadoras.class
/desea_continuar.class
/desea_continuar_media_pares.class
/digitos.class
/divisores.class
/interruptor.class
/interruptor_digitos_mayor_menor.class
/interruptor_mayor_menor_media.class
/n_num_for_divisores.class
/n_primeros_impares.class
/switch_case.class
